<h1>Jobs</h1>

<%= javascript_include_tag "bootstrap-tagsinput.min" %>

<div id="jobs" class="row jobs">

  <% @jobs.each do |job| %>
	  <div class="col-md-4">
		<div class="job">
		  <div class="company">
			<div class="logo">
			  <%= image_tag job.logo.url(:thumb) %>
			</div>
			<div class="name">
			  <h1><%= job.company_name %></h1>
			</div>
			<div class="position">
			  <p><%= job.title %></p>
			</div>
		  </div>
		  <div class="description">
			<p class="time"><%= job.weekly_hours %> weekly hours required</p>

			<div class="row">
			  <div class="col-xs-10">
				<div class="skills">
				  <% job.tags.each do |tag| %>
					  <span><%= tag.name %></span>
				  <% end %>
				</div>
			  </div>
			  <div class="col-xs-2">
				<div class="visit">
				  <a href="<%= job_path(job.id) %>" class="btn btn-success">Apply</a>
				</div>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
  <% end %>

</div>