<!DOCTYPE html>
<html>
<head>
  <title>ElasticJobs</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag params[:controller] %>
  <%= javascript_include_tag 'https://js.stripe.com/v1/' %>
  <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
  <%= csrf_meta_tags %>
</head>
<body style="padding-top:80px">
<div class="navbar-wrapper cbp-af-header cbp-af-header-shrink">
  <%= render partial: "partials/header_menu" %>
</div>

<div id="main-container" class="container">
    <div class="row">
        <div class="col-md-12">
          <%= render partial: "partials/flash_messages", flash: flash %>
          <%= yield %>
        </div>
    </div>
</div>

</body>
</html>
